.dropdown {
  display: inline-block;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: inline-block;
}

/* Стили для содержимого выпадающего списка */
.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-height: 150px; /* Высота списка */
  overflow-y: auto; /* Переполнение с прокруткой */
}

/* Стили для ссылок в списке */
.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Стили для ссылок при наведении курсора */
.dropdownContent a:hover {
  background-color: #f1f1f1;
}

/* Отображение выпадающего списка при наведении на кнопку */
.dropdown:hover .dropdownContent {
  display: block;
}
