.priceFilter {
  margin-bottom: 20px;
  display: inline-block;
}

.pricePerHour {
  margin: 0;
  color: #8a8a89;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 8px;
}
.priceFilter label {
  display: block;
  margin-bottom: 5px;
}

.priceFilter select {
  padding: 10px;
  font-size: 14px;
  width: 100%;
  border-radius: 14px;
  background: #f7f7fb;
  border: none;
  width: 125px;
  height: 48px;
}

.priceFilter select option {
  background-color: fff;
  padding-left: 5px;
  border: none;
  color: black;
}
.priceFilter select option:hover {
  background-color: black;
  color: black;
}

.priceFilter select::-webkit-scrollbar {
  width: 12px;
  padding-left: 4px;
  border: none;
  height: 188px;
}

.priceFilter select::-webkit-scrollbar-thumb {
  border-radius: 10px;

  margin-right: 10px;

  background: rgba(18, 20, 23, 0.05);
}

.priceFilter select:focus {
  outline: none;
}

.priceFilter select option {
  font-size: 14px;
}

/* /////////////////// */

.dropbtn {
  display: flex;

  padding-left: 18px;
  justify-content: left;
  align-items: center;

  border-radius: 14px;
  border: none;
  background: #f7f7fb;
  width: 125px;
  height: 48px;

  color: #121417;

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.11;
  cursor: pointer;
}

.dropdownContent::-webkit-scrollbar {
  width: 12px;
  padding-left: 4px;
}

.dropdownContent::-webkit-scrollbar-thumb {
  border-radius: 10px;

  margin-right: 10px;

  background: rgba(18, 20, 23, 0.05);
}

.dropdownContent::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.295);
}

.listContainer {
  list-style: none;
  padding: 0;
}

/* //////////////////////////////
 */

.dropdown {
  display: inline-block;
}
.carBrand {
  margin: 0;
  color: #8a8a89;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 8px;
}

.listContainer {
  list-style: none;
  padding: 0;
}

.dropdownContent {
  display: none;
  position: absolute;
  min-width: 224px;
  z-index: 1;
  max-height: 272px;
  overflow-y: auto;
  border-radius: 14px;
  border: 1px solid rgba(18, 20, 23, 0.05);
  background: #fff;
  box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.02);
  padding-top: 14px;
}

.dropdownContent::-webkit-scrollbar {
  width: 12px;
  padding-left: 4px;
}

.dropdownContent::-webkit-scrollbar-thumb {
  border-radius: 10px;

  margin-right: 10px;

  background: rgba(18, 20, 23, 0.05);
}

.dropdownContent::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.295);
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

  color: rgba(18, 20, 23, 0.2);

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
}

.dropdownContent a:hover {
  background-color: none;
  color: black;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropbtn:hover + .dropdownContent,
.dropdownContent:hover {
  display: block;
}
.dropdownLink {
  color: #8a8a89;
  cursor: pointer;
  margin-bottom: 8px;
  margin-left: 18px;
}
.dropdownLink:hover {
  color: black;
}
