.backdrop {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 20, 23, 0.5);
  z-index: 1;
}

.carCardModal {
  position: relative;
  width: 461px;
  /* height: 752px; */
  flex-shrink: 0;
  border-radius: 24px;
  background: #fff;

  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  padding: 40px 40px;
}

.closeBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.closeIcon {
  stroke: #121417;
  width: 24px;
  height: 24px;
}

.imageContainerModal {
  position: relative;
  width: 461px;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 auto;
}

.imageContainerModal img {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}
.carName {
  color: #121417;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}
.carModel {
  color: #3470ff;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.carNameContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.propertyContainer {
  padding: 0;
  color: rgba(18, 20, 23, 0.5);
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1, 5;

  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 4px;
}

.propertyItem:not(:last-child, :first-child)::before {
  content: ' ';

  margin-right: 6px;
  margin-left: 6px;
  border-right: 1px solid rgba(18, 20, 23, 0.1);
}

.functionalitiesContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cardBtn {
  width: 168px;
  height: 44px;
  margin-top: 24px;
  padding: 12px 50px;

  border: none;
  border-radius: 12px;
  background: #3470ff;
  color: White;

  display: inline-flex;

  justify-content: center;
  align-items: center;
}

.cardBtn:focus {
  background: #0b44cd;
}
.cardBtn:hover {
  background: #0b44cd;
}

.conditions {
  display: inline-block;
  width: fit-content;

  display: flex;
  padding: 7px 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 35px;
  background-color: #f9f9f9;

  color: #363535;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.conditionsContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.conditionsAccent {
  color: #3470ff;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.24px;
}
